<app-navbar></app-navbar>
<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }
</style>

<style type="text/css">
  .log1 {
    padding-top: 13%;
  }

  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;

  }
</style>

<div class="row " style="padding-top: 6%; padding-bottom:5%;

background: url(assets/files/wall.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover;width:100%;
  height: auto;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body input-group-addon grad ">
        <form name="userForm">
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Add User' |
            translate }}</h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Update User' |
            translate }}</h2>


          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div *ngIf="form.error && form.message != null" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

       

          <div>
            <span class="pt-2"><b>{{'Client Name' | translate }}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i> </div>
                </div>
                <input type="text" name="fn" [(ngModel)]="form.data.clientName" class="form-control"
                  placeholder="{{'Enter Client Name'  | translate }}">
              </div>
            </div><span *ngIf="form.inputerror.clientName != null" class="alertRedColor" style=" color: red;">
              {{form.inputerror.clientName}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.firstName}} </span> -->
          </div>

          <div>
            <span class="pt-2"><b>{{'Location'| translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i> </div>
                </div>
                <input type="text" name="ln" [(ngModel)]="form.data.location" class="form-control"
                  placeholder="{{'Enter Location'  | translate }}">
              </div>
            </div><span *ngIf="form.inputerror.location != null" class="alertRedColor" style=" color: red;">
              {{form.inputerror.location}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.lastName}} </span> -->
          </div>

          
          <div>
            <span class="pt-2"><b>{{'ContactNumber' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone grey-text"></i> </div>
                </div>
                <input type="text" name="phone" maxlength="10" [(ngModel)]="form.data.ContactNumber" class="form-control"
                  placeholder="{{'Enter ContactNumber' | translate}}">
              </div>
            </div><span *ngIf="form.inputerror.contactNumber != null" class="alertRedColor" style=" color: red;"> {{form.inputerror.contactNumber}} </span>
          </div>

          
          <div>
            <span class="pt-2"><b>{{'Importance' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-venus grey-text"></i> </div>
                </div>
                <select class="form-control" name="importance" id="importance" [(ngModel)]="form.data.importance"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                  <option value="High">{{'High' | translate }} </option>
                  <option value="Medium">{{'Medium' | translate }} </option>
                  <option value="Low">{{'Low' | translate }} </option>
                </select>
              </div>
            </div><span *ngIf="form.inputerror.importance != null" class="alertRedColor" style=" color: red;"> {{form.inputerror.importance}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.gender}} </span> -->
          </div>

          <div class="row pt-2 pl-2 pb-3">

            <div class="col-md-3"></div>


            <div class="pt-2">
              <button *ngIf="!form.data.id>0" (click)="onUpload()" class="btn btn-success mr-2">
                {{'Save' | translate }}</button>
            </div>

            <div class="col-md-1"></div>

            <div class="pt-2">
              <button *ngIf="form.data.id>0" (click)="onUpload()" class="btn btn-success mr-2">
                {{'Update' | translate }}</button>
            </div>
            <div class="pt-2">
              <a class="btn btn-warning mr-1" type="button" [routerLink]="['/cusomerlist']"
                  style="text-decoration: none; color: white;">{{'List' | translate }}</a>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>